@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mc-components/dist/styles/css/index.css';

@layer base {
  html,
  body {
    @apply m-0;
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;
  }

  body {
    @apply bg-gray-900;
  }

  nav {
    @apply flex;
  }

  nav > * {
    @apply m-0 mr-4;
  }

  hr {
    @apply h-px bg-gray-400 border-0;
  }

  a {
    @apply no-underline;
  }

  * {
    @apply box-border;
  }
}
